{% extends 'base.html' %}
{% load static %}
{% block title %}
 Product
{% endblock %}

{% block content %}
 <div class="container py-5">
     <div class="row mt-5">
         <div class="col-10 mx-auto col-md-6 my-3"> <!-- my: margin top and bottom for the image-->
             <img src="{% static 'img/product-2.png'%}" alt="">
         </div>
         <div class="col-10 max-auto col-md-6 my-3">
             <div>
                <h1 class="product_title"> HTC One </h1>
                <h5 class="text-info font-italic mb-3">
                    <span class="mr-1"> $</span> 300 <!-- mr-1=- margen 1px -->
                </h5>
                <p> Product Description </p>
                <p class="text-justify product_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa temporibus voluptatem veritatis, iste asperiores esse natus dicta alias voluptate quae, nobis minus cumque at delectus deleniti ipsam. Minus, possimus reiciendis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi fuga alias ipsa amet similique, ipsam reprehenderit at fugit dolores recusandae. Fuga ut totam ipsam accusamus eligendi vitae accusantium expedita maiores.</p>
                <p class="text-justify product_text">
                    <b> Out of Stock </b>
                </p>
             </div>
         </div>
     </div>
 </div>
{% endblock %}